src/
entry.js
webpack.config.js
.idea
prettier.config.js
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.sublime-project
*.sublime-workspace
Thumbs.db
.DS_Store
*.DS_Store
